.professionalInfo-listItem {
    list-style: none;
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px solid #94a3b8;
    display: flex;
    flex-direction: column;
  }
  
  .professionalInfo-listItem > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  
  .professionalInfo-listItem > div > input {
    flex: 1 1 auto;
    margin-left: 5px;
    font-size: 0.9rem;
    width: 125px;
  }
  
#toDate,
#fromDate{
    flex: 0 1 auto;
}

  .professionalInfo-listItem > div > label {
    margin-left: 5px;
  }
  
  .professionalInfo-listItem > div > label:first-child {
    margin-left: 0px;
  }
  
  .professionalInfo-listItem > button{
      font-size: 1.15rem;
  }